.m-query-wrap {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #E6E9F1;
  padding: 20px 21px;
  margin-bottom: 10px;
  transition: all 3s ease;
  .m-large-query {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    &.block {
      transition: height 0.5s ease;
    }
  }
}