._m-input, ._m-textarea {
    width: 280px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #E6E9F1;
    padding: 0 15px;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    &:hover {
        border: 1px solid #3385ff;
    }
    &:focus {
        border: 1px solid #3385ff;
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
        box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
        border-right-width: 1px !important
    }
    &.icon {
        background: url('./images/icon_search.png') no-repeat right 15px center/19px 19px;
    }
}

._m-textarea {
    height: 100px;
    padding: 12px 15px;
    resize: none;
}

.s-input {
    &:focus {
        border: none;
    }
}