.m-user-list-wrap {
    width: 100%;
    height: auto;
    
    .m-output-detail-inner {
        max-width: 1630px;
        min-width: 1360px;
        margin: 0 auto;
        padding: 0 45px;
    }

    .output-detail-content {
        width: 100%;
        background: #fff;
       
    }
    .m-table-role--wrap {
        width: 100%;
        padding: 30px 42px 20px 30px;
       
    }
    .page-wrap{
        padding:0 30px 42px 0;
    }


}