.edit-company-info{
    margin:0 auto;
    width:600px;
    .list-ul{
        padding:30px 0;
        li{
            margin-bottom:30px;
            .tit{
                padding-right:30px;
                width:70px;
            }
            .s-input{
                width:490px;
            }
        }
    }
}
