.m-reject-edit-wrap {
  width: 100%;
  height: auto;
  .steps-box-wrap {
    position: relative;
    width: 100%;
    background: #fff;
    border: 1px solid #E6E9F1;
    padding: 18px 40px;
    margin-bottom: 10px;
  }
  .m-reject-edit-inner {
    max-width: 1630px;
    min-width: 1360px;
    margin: 0 auto;
    padding: 0 45px;
  }

  .reject-edit-content {
    width: 100%;
    background: #fff;
    border: 1px solid #E6E9F1;
  }
  .edit-main-info{
    border-bottom: 1px dashed #E6E9F1;
  }
  .edit-main-info ul{
    padding: 30px 0 40px 40px;
  }
  .edit-main-info li {
    display:inline-block;
    width:28%;
    .ant-select-selection--single{
      width:250px;
    }
  }
  .edit-reject-info{
    border-bottom: 1px dashed #E6E9F1;
  }
  .add-receipt {
    width: auto;
    margin:0 10px;
    border: 1px solid #e8e8e8;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: #3385FF;
    i {
      font-size: 30px;
      line-height: 40px;
      color: #6EA7FD;
      font-weight: 600;
    }
    &:hover {
      border: 1px solid #3385FF;
      color: #3385FF;
    }
  }
  .edit-reject-info ul{
    padding: 30px 0 0 40px;
  }
  .edit-reject-info li {
    margin-bottom:30px;
    .ant-select-selection--single{
      width:360px;
    }
    textarea{
      width:73%;
      height:64px;
      padding:10px 25px;
      resize:none;
      border:1px solid #E6E9F1;
      border-radius:5px;
      vertical-align: top;
    }
  }


  .list-bottom {
    background:#fff;
    padding: 20px 42px 40px;
    .list-ul {
      clear:both;
      height: 100%;

      li {
        margin-bottom: 30px;
        span.red{
          color:#f00;
        }
        font-size:0;
        div{
          display:inline-block;
          width:22%;
          &:last-child {
            width:70%;
          }
        }
      }
      span {
        font-size: 14px;
        &:first-child {
          display: inline-block;
          width: 75px;
          text-align: right;
          color: #999;
        }
        &:last-child {
          color: #333333;
        }
      }

    }
    .li {
      margin-bottom: 15px;
      span {
        font-size: 14px;
        &:nth-child(1) {
          color: #666;
        }
        &.red {
          color: #F02626;
        }

      }
    }
  }
  .btn-group{
    background:#fff;
    text-align:center;
    padding:40px 0 60px 0;
    /*border-top: 1px dashed #E6E9F1;*/
    .m-global-button{
      margin-right:60px;
    }
  }

}