.sign-content-normal-wrap {
    width: 880px;
    background: #fff;
    margin: 0 auto;
    padding: 50px 0 0 ;
    .uploads {
        > span {
            float: left;
            > div {
                float: left;
                //display: inline-block;
            }
        }
        .ant-upload.ant-upload-select-picture-card {
            width: 160px;
            height: 120px;
            border: 1px dashed #3385FF;
            background: #fff;
            &:hover {
                border: 1px dashed #3385FF;
            }
        }
    }
}