.m-output-wrap {
    width: 100%;
    height: auto;
    .m-output-list-wrap {
        background: #fff;
        padding: 21px;
        border: 1px solid #E6E9F1;
    }
    .page-wrap {
        margin-top: 20px;
    }
}