.m-message-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 280px;
    min-height: 100px;
    background: rgba(245, 246, 250, 1);
    border-radius: 10px;
    padding: 5px;
    p {
        position: absolute;
        left: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        height: auto;
        padding-left: 50px;
        padding-right: 10px;
        text-align: center;
        &.m-text-success {
            background: url("./images/icon_sucess.png") no-repeat left 20px center/23px 22px;
        }
        &.m-text-error {
            background: url("./images/icon_warn.png") no-repeat left 20px center/6px 25px;
        }
    }
    &.m-success {
        box-shadow: 2px 2px 6px 3px rgba(51, 133, 255, 0.14);
    }
    &.m-error {
        box-shadow: 2px 2px 6px 3px rgba(253, 55, 55, 0.14);
    }
    .m-text-success {
        font-size: 16px;
        color: rgba(51, 133, 255, 1);
    }
    .m-text-error {
        font-size: 16px;
        color: rgba(254, 47, 47, 1);
    }
}