.m-table-role--wrap {
    width: 100%;
    height: auto;
    table {
        width: 100%;
        thead {
            background: #F5F6FA;
        }
        th {
            height: 39px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #e6e9f1;
            color: #1D2639;
            font-size: 14px;
            font-weight: normal;
            border-right-color: transparent;
            &:last-child {
                border-right-color: #e6e9f1;
            }
        }
        .td {
            height: 100px;
            border: 1px solid #e6e9f1;
            //word-wrap: break-word;
            max-width: 200px;
            .wrap {
                width: 100%;
                //max-width: 240px;
            }
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;

                
                &.orange {
                    color: #FF9205;
                }
                &.red {
                    color: #FF0000;
                }
                
                &.edit{
                    display:inline-block;
                    margin:0 5px;
                    width:20px;
                    height:20px;
                    vertical-align:top;
                }
                &.edit a{
                    display:inline-block;
                    cursor: pointer;
                    width: 19px;
                    height: 18px;
                    background: url('./images/icon_edit_normal.png') no-repeat center/cover;
                    

                    &:hover {
                        background: url('./images/icon_edit_hover&click.png') no-repeat center/cover;
                    }
                }
                &.forbidden{
                    display:inline-block;
                    cursor: pointer;
                    width: 15px;
                    height: 19px;
                    background: url('./images/icon_delete_normal.png') no-repeat center/cover;
                    margin:0 5px;
                    vertical-align:top;
                    &:hover {
                        background: url('./images/icon_delete_hover&click.png') no-repeat center/cover;
                    }
                }
            }
        }
        
        
    }
    
        
}
.m-after-sale-wrap.m-role-user-wrap{
    margin-top:-20px;
    .ant-radio-group ul li{
            
            height:50px;
            line-height:50px;
            padding:0 20px;
            border:0;
            background:#fff;
            &.role-title{
                padding:0 30px;
                span{

                    display:inline-block;
                    width:50%;
                }
            }
            .id{
                margin-left:10%;
                width:40%;
                display:inline-block;
            }
           .bottom{
                width:40%;
                display:inline-block;
           }
           .ant-radio-wrapper > span{
                top:17px;
           }
           &:nth-child(even){
           background:#FCFCFF;
           }

    }

}

/*.ant-modal-header{
    text-align:center;
    bottom-bottom-color:#F5F6FA;
    .ant-modal-title{
        color:#729CDB;
    }
    .ant-modal-close-x{
        color:#729CDB;
    }
}

.ant-modal.w300{
    width:300px !important;
}
.ant-modal-body{
    padding:24px 0;
}
.ant-modal-footer{
    text-align:center;
}
.ant-btn{
    width:120px;
    height:38px;
    margin-right:60px;
}
.ant-btn:last-child{
    margin-right:0;
}*/

